*{
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}
h1{
	color: white;
	text-align:center;

}

ul li{
	display:  inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px  solid transparent;
	transition: 0.6s ease;


}
ul li a:hover{
background-color: #fff;
color:#000;
}
ul li.active a{
	background-color: #fff;
color:#000;
}



ul .drop :hover> ul{

	display: block;

}
.drop ul{
	margin-left: 120px;
	top: 0px;

}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fafafa;
	font-size: 60px;

}
.button{
	position:  absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
color:#000;

}/*Footer section*/
#footer{
	background-color: #0000ff;
	margin: 10px;
	height:60px; 
    clear: both;
    border-radius: 5px;
    color: #efe;
    text-align:center;
    font-size: 90%;
    padding: 15px;



    /*this is what is ata the
     bottom of the 
    page*/
}
#footer ul{
	padding: 5px;
	list-style-type: none;
	text-align: center;
	
	margin: 10px;
	border-radius: 5px;
	

	}
#footer ul li {
	display:  inline-block;

	}
#footer ul li a{
	text-decoration: none;
	font-family: Aerial;
	color: #fff;
	padding: 5px 20px;
	border: 1px  solid transparent;
	transition: 0.6s ease;
	
}
 #footer ul li a:hover{
background-color: #5c755e;
color:#000;
}